/* 

.card {
    width: 45%; 
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    margin: 20px;
    box-sizing: border-box;
  }
  
  .column {
    width: 100%;
    box-sizing: border-box;
  }
  
  h3 {
    font-size: 16px;
    margin-bottom: 10px;
  }
  
  ul {
    list-style: none;
    padding: 0;
  }
  
  li {
    margin-bottom: 5px;
  }
   
 */
 /* DataDisplayCard.css */

.card {
    width: 45%; /* Adjust the width as needed */
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    margin: 40px;
    box-sizing: border-box;
  }
  
  .columns-container {
    display: flex;
    justify-content: space-between;
  }
  
  .column {
    width: 48%; /* Adjust the width of each column as needed */
    box-sizing: border-box;
  }
  
  h3 {
    font-size: 16px;
    margin-bottom: 10px;
  }
  
  ul {
    list-style: none;
    padding: 0;
  }
  
  li {
    margin-bottom: 5px;
  }
  
